.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared coler style */
.btn-primary {
  background-color: #4E47FF;
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding: 12px 35px;
  border-radius: 10px;
  border: none;
  text-align: center;

}

.banner-content {
  text-align: center;
}

/* nav style */
nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
}

.nav-title {
  font-weight: 900;
  font-size: 25px;
  color: #4E47FF;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

nav ul li {
  list-style: none;
}

/* banner style */

.banner-content li {

  margin: 200px 267.7px 152px 267px;
  text-align: center;
  list-style: none;
}

.title-one {
  font-weight: bold;
  font-size: 65px;
  text-align: center;
}

/* header backgroun */

.banner-bg {
  height: 100vh;
  padding: 0 5%;
  background-size: cover;
  background-image: url("../images/Assets/Hero-bg.png");
}

/* see it action part*/
.title-two {
  font-weight: bold;
  font-size: 45px;
}

.sub-title-two {
  font-weight: 100;
  font-size: 24px;
}

.title-action {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}



.it-img-pic {
  width: 403px;
  ;
  height: 328px;
  border-radius: 48px;
}

.action-part {
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 180px;
  padding-top: 80px;
  padding-bottom: 80px;

}

/* common-shared-style */

.secondary-bg {
  background-color: rgba(78, 71, 255, 0.11);
}

.common-blu {
  color: #4E47FF;
  font-weight: 800;
  font-size: 80px;
}

.para-title-bg {
  font-family: regular;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}


/* Joined Thousands of Productive Users */
.product-user {
  border-radius: 24px;
  padding: 50px 80px;
  /* padding: 130px 150px ; */
  text-align: center;
  margin-top: 116px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  /* text-align: justify; */


}